table {
	margin: 10px auto;
	border-collapse: collapse;
}
td {
	width: 10px;
	height: 10px;
	border: 1px solid #000;
}
.black-table{
	background: #000;
}
.black-item {
	background: #000;
}
.white-item {
	background: #fff;
}
